Mysql : 
Relational DataBase
structured data in the format of table/relations
workbench/vscode
SQL Language

MongoDb : 
Non relational database,
Unstructured data in the format of json files or dictionaries,
compass/vscode,
Python Language

How to create connection?

In [1]:
import pymongo
import pandas as pd

In [2]:
client=pymongo.MongoClient("mongodb://localhost:27017")
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

Mysql : databases >> database >> table      >>   rows and    columns,

Mongodb : databases >> database >>colections >>  documents   keys

Crud Operations 

1. Create Database,
2. Create collection,
3. Insert data (add document),
4. read data,
5. update data,
6. delete data

1. Create database

In [3]:
db = client["college"]
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'college')

In [4]:
client.list_database_names()

['Ml', 'admin', 'config', 'local', 'mydb']

2. Create Collection

In [5]:
coll=db["student"]
coll

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'college'), 'student')

In [6]:
db.list_collection_names()

[]

3. Insert data

insert_one() : used to insert a single document ,

insert_many() : used to insert multiple documents

insert_one() : collection_name.insert_one({key:value})

In [7]:
coll.insert_one({"rollno":101,"stud_name":"Abhishek","gender":"m","loc":"Noida"})

InsertOneResult(ObjectId('65511c0d221ffc78622e56c2'), acknowledged=True)

In [8]:
client.list_database_names()

['Ml', 'admin', 'college', 'config', 'local', 'mydb']

In [9]:
db.list_collection_names()

['student']

In [10]:
coll.insert_one({"rollno":102,"stud_name":"Roma","gender":"f","loc":"Mumbai"})

InsertOneResult(ObjectId('65511c88221ffc78622e56c3'), acknowledged=True)

In [11]:
coll.insert_one({"rollno":103,"stud_name":"Nita","gender":"f"})

InsertOneResult(ObjectId('65511cbd221ffc78622e56c4'), acknowledged=True)

In [12]:
coll.insert_one({"rollno":104,"stud_name":"Dhiraj","gender":"m","contact":1234})

InsertOneResult(ObjectId('65511d15221ffc78622e56c5'), acknowledged=True)

In [13]:
coll.insert_one({"rollno":105,"stud_name":"Akash","gender":"m",
                 "contact":{"email":"akash@gmail.com","mobno":4321}})

InsertOneResult(ObjectId('65511da8221ffc78622e56c6'), acknowledged=True)

insert_many() : collection_name.insert_many([{},{},{}])

In [14]:
coll.insert_many([{"rollno":105,"stud_name":"veena"},
                  {"rollno":107,"stud_name":"pooja","loc":"mumbai"}])

InsertManyResult([ObjectId('65511e6f221ffc78622e56c7'), ObjectId('65511e6f221ffc78622e56c8')], acknowledged=True)

2. Read Data

find_one() : returns a single document,

find() : returns multiple documents

find_one() : collection_name.find_one({filter condition},{select})

without filter condition : returns the first document in the collection

with filter condition : returs the first matched document in the collection

In [15]:
coll.find_one({})

{'_id': ObjectId('65511c0d221ffc78622e56c2'),
 'rollno': 101,
 'stud_name': 'Abhishek',
 'gender': 'm',
 'loc': 'Noida'}

In [16]:
coll.find_one({},{"_id":0})

{'rollno': 101, 'stud_name': 'Abhishek', 'gender': 'm', 'loc': 'Noida'}

In [17]:
coll.find_one({},{"_id":0,"loc":0})

{'rollno': 101, 'stud_name': 'Abhishek', 'gender': 'm'}

In [18]:
coll.find_one({},{"_id":0,"loc":1})

{'loc': 'Noida'}

In [19]:
coll.find_one({},{"_id":0,"rollno":0,"loc":1})

OperationFailure: Cannot do inclusion on field loc in exclusion projection, full error: {'ok': 0.0, 'errmsg': 'Cannot do inclusion on field loc in exclusion projection', 'code': 31253, 'codeName': 'Location31253'}

20 keys : read 4 keys : specify 1 for these 4 keys,

20 keys : skip 4 keys : specify 0 for these 4 keys

In [20]:
coll.find_one({"gender":"f"})

{'_id': ObjectId('65511c88221ffc78622e56c3'),
 'rollno': 102,
 'stud_name': 'Roma',
 'gender': 'f',
 'loc': 'Mumbai'}

In [21]:
coll.find_one({"loc":"mumbai"})

{'_id': ObjectId('65511e6f221ffc78622e56c8'),
 'rollno': 107,
 'stud_name': 'pooja',
 'loc': 'mumbai'}

In [22]:
coll.find_one({"loc":"Mumbai"})

{'_id': ObjectId('65511c88221ffc78622e56c3'),
 'rollno': 102,
 'stud_name': 'Roma',
 'gender': 'f',
 'loc': 'Mumbai'}

$gt : Greater than,

$gte : Greater than equal to,

$ne : Not equal to,

$lt : Less than,

$lte : Less than equal to,

$in : specify multiple possible values

In [23]:
coll.find_one({"rollno":{"$gt":103}})

{'_id': ObjectId('65511d15221ffc78622e56c5'),
 'rollno': 104,
 'stud_name': 'Dhiraj',
 'gender': 'm',
 'contact': 1234}

In [24]:
coll.find_one({"rollno":{"$gte":103}})

{'_id': ObjectId('65511cbd221ffc78622e56c4'),
 'rollno': 103,
 'stud_name': 'Nita',
 'gender': 'f'}

In [25]:
coll.find_one({"rollno":{"$lt":102}})

{'_id': ObjectId('65511c0d221ffc78622e56c2'),
 'rollno': 101,
 'stud_name': 'Abhishek',
 'gender': 'm',
 'loc': 'Noida'}

Combine multiple filter conditions (AND & OR)

In [27]:
coll.find_one({"rollno":103,"stud_name":"Nita"})

{'_id': ObjectId('65511cbd221ffc78622e56c4'),
 'rollno': 103,
 'stud_name': 'Nita',
 'gender': 'f'}

In [28]:
coll.find_one({"rollno":103,"stud_name":"nita"})

In [29]:
coll.find_one({"$or":[{"rollno":103},{"stud_name":"nita"}]})

{'_id': ObjectId('65511cbd221ffc78622e56c4'),
 'rollno': 103,
 'stud_name': 'Nita',
 'gender': 'f'}

In [30]:
coll.find_one({"$or":[{"rollno":103},{"stud_name":"Roma","gender":"f"}]})

{'_id': ObjectId('65511c88221ffc78622e56c3'),
 'rollno': 102,
 'stud_name': 'Roma',
 'gender': 'f',
 'loc': 'Mumbai'}

find() : returns multiple documents

find() : collection_name.find({filter condition},{select}),

without filter condition : returns all documents of the collection,

with filter condition : returns all matched documents of the collection

In [31]:
data = coll.find({})
list(data)

[{'_id': ObjectId('65511c0d221ffc78622e56c2'),
  'rollno': 101,
  'stud_name': 'Abhishek',
  'gender': 'm',
  'loc': 'Noida'},
 {'_id': ObjectId('65511c88221ffc78622e56c3'),
  'rollno': 102,
  'stud_name': 'Roma',
  'gender': 'f',
  'loc': 'Mumbai'},
 {'_id': ObjectId('65511cbd221ffc78622e56c4'),
  'rollno': 103,
  'stud_name': 'Nita',
  'gender': 'f'},
 {'_id': ObjectId('65511d15221ffc78622e56c5'),
  'rollno': 104,
  'stud_name': 'Dhiraj',
  'gender': 'm',
  'contact': 1234},
 {'_id': ObjectId('65511da8221ffc78622e56c6'),
  'rollno': 105,
  'stud_name': 'Akash',
  'gender': 'm',
  'contact': {'email': 'akash@gmail.com', 'mobno': 4321}},
 {'_id': ObjectId('65511e6f221ffc78622e56c7'),
  'rollno': 105,
  'stud_name': 'veena'},
 {'_id': ObjectId('65511e6f221ffc78622e56c8'),
  'rollno': 107,
  'stud_name': 'pooja',
  'loc': 'mumbai'}]

In [32]:
data = coll.find({},{"_id":0})
list(data)

[{'rollno': 101, 'stud_name': 'Abhishek', 'gender': 'm', 'loc': 'Noida'},
 {'rollno': 102, 'stud_name': 'Roma', 'gender': 'f', 'loc': 'Mumbai'},
 {'rollno': 103, 'stud_name': 'Nita', 'gender': 'f'},
 {'rollno': 104, 'stud_name': 'Dhiraj', 'gender': 'm', 'contact': 1234},
 {'rollno': 105,
  'stud_name': 'Akash',
  'gender': 'm',
  'contact': {'email': 'akash@gmail.com', 'mobno': 4321}},
 {'rollno': 105, 'stud_name': 'veena'},
 {'rollno': 107, 'stud_name': 'pooja', 'loc': 'mumbai'}]

In [33]:
data = coll.find({},{"rollno":1,"_id":0})
list(data)

[{'rollno': 101},
 {'rollno': 102},
 {'rollno': 103},
 {'rollno': 104},
 {'rollno': 105},
 {'rollno': 105},
 {'rollno': 107}]

In [34]:
data = coll.find({},{"_id":0,"loc":0})
list(data)

[{'rollno': 101, 'stud_name': 'Abhishek', 'gender': 'm'},
 {'rollno': 102, 'stud_name': 'Roma', 'gender': 'f'},
 {'rollno': 103, 'stud_name': 'Nita', 'gender': 'f'},
 {'rollno': 104, 'stud_name': 'Dhiraj', 'gender': 'm', 'contact': 1234},
 {'rollno': 105,
  'stud_name': 'Akash',
  'gender': 'm',
  'contact': {'email': 'akash@gmail.com', 'mobno': 4321}},
 {'rollno': 105, 'stud_name': 'veena'},
 {'rollno': 107, 'stud_name': 'pooja'}]

In [37]:
data=coll.find({"gender":"f"})
list(data)

[{'_id': ObjectId('65511c88221ffc78622e56c3'),
  'rollno': 102,
  'stud_name': 'Roma',
  'gender': 'f',
  'loc': 'Mumbai'},
 {'_id': ObjectId('65511cbd221ffc78622e56c4'),
  'rollno': 103,
  'stud_name': 'Nita',
  'gender': 'f'}]

In [38]:
data = coll.find({},{"_id":0})
data1=list(data)
df=pd.DataFrame(data1)
df

,rollno,stud_name,gender,loc,contact
0,101,Abhishek,m,Noida,NaN
1,102,Roma,f,Mumbai,NaN
2,103,Nita,f,NaN,NaN
3,104,Dhiraj,m,NaN,1234
4,105,Akash,m,NaN,"{'email': 'akash@gmail.com', 'mobno': 4321}"
5,105,veena,NaN,NaN,NaN
6,107,pooja,NaN,mumbai,NaN

In [39]:
data = coll.find({"rollno":{"$in":[102,104,106]}})
list(data)

[{'_id': ObjectId('65511c88221ffc78622e56c3'),
  'rollno': 102,
  'stud_name': 'Roma',
  'gender': 'f',
  'loc': 'Mumbai'},
 {'_id': ObjectId('65511d15221ffc78622e56c5'),
  'rollno': 104,
  'stud_name': 'Dhiraj',
  'gender': 'm',
  'contact': 1234}]

update data : 

update_one() : update a single document,

update_many() : updates multiple documents

update_one() : collection_name.update_one({filter condition},{"$set:{"key":new value}})

without filter condition : updates the first document in the collection

with filter condition : updates the matched document in the collection

In [40]:
coll.update_one({"stud_name":"veena"},{"$set":{"rollno":106}})

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [41]:
coll.update_one({},{"$set":{"loc":"Goa"}})

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [42]:
coll.update_one({},{"$set":{"contact":7741}})

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [43]:
coll.update_one({"rollno":106},{"$set":{"loc":"pune"}})

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [44]:
import bson
from bson.objectid import ObjectId

In [45]:
coll.find_one({"_id":ObjectId("65511e6f221ffc78622e56c7")})

{'_id': ObjectId('65511e6f221ffc78622e56c7'),
 'rollno': 106,
 'stud_name': 'veena',
 'loc': 'pune'}

update_many() : updates multiple documents

update_many() : collection_name.update_many({filter condition},{"$set":{"key":new value,"key1":new value}})

without filter condition : updates all documents in the collection

with filter condition : update all matched documents in the collection

In [46]:
coll.update_many({"rollno":{"$gt":104}},{"$set":{"loc":"Bombay"}})

UpdateResult({'n': 3, 'nModified': 3, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [47]:
coll.update_one({},{"$set":{"loc":"DuabiPhata","contact":7741}})

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [48]:
coll.update_one({"rollno":103},{"$set":{"loc":"Warsaw"}})

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [49]:
coll.update_many({},{"$set":{"Branch":"Comp"}})

UpdateResult({'n': 7, 'nModified': 7, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [50]:
coll.update_many({},{"$unset":{"contact":1}})

UpdateResult({'n': 7, 'nModified': 3, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

delete data : 

delete_one() : deletes a single document

delete_many() : deletes multiple documents

delete_one : collection_name.delete_one({filter condition})

without filter condition : deletes the first document in the collection

with filter condition : deleted the first matched document in the collection

In [51]:
coll.delete_one({})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [52]:
coll.delete_one({"gender":"m"})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

delete_many() : deletes multiple documents in the collection

delete_many() : collection_name.delete_many({filter condition})

without filter condition : deletes all documents in the collection

with filter condition : deletes all matched documents in the collection

In [53]:
coll.delete_many({"rollno":{"$gt":103}})

DeleteResult({'n': 3, 'ok': 1.0}, acknowledged=True)

In [54]:
coll.delete_many({})

DeleteResult({'n': 2, 'ok': 1.0}, acknowledged=True)

Drop collection

collection_name.drop()

In [55]:
coll.drop()

Drop Database

In [56]:
client.drop_database("college")

Import csv file into mongodb collection

In [57]:
df=pd.read_csv("Iris.csv")
data = df.to_dict(orient="records")
db=client["Iris"]
db.Iris.insert_many(data)

InsertManyResult([ObjectId('65513449221ffc78622e56c9'), ObjectId('65513449221ffc78622e56ca'), ObjectId('65513449221ffc78622e56cb'), ObjectId('65513449221ffc78622e56cc'), ObjectId('65513449221ffc78622e56cd'), ObjectId('65513449221ffc78622e56ce'), ObjectId('65513449221ffc78622e56cf'), ObjectId('65513449221ffc78622e56d0'), ObjectId('65513449221ffc78622e56d1'), ObjectId('65513449221ffc78622e56d2'), ObjectId('65513449221ffc78622e56d3'), ObjectId('65513449221ffc78622e56d4'), ObjectId('65513449221ffc78622e56d5'), ObjectId('65513449221ffc78622e56d6'), ObjectId('65513449221ffc78622e56d7'), ObjectId('65513449221ffc78622e56d8'), ObjectId('65513449221ffc78622e56d9'), ObjectId('65513449221ffc78622e56da'), ObjectId('65513449221ffc78622e56db'), ObjectId('65513449221ffc78622e56dc'), ObjectId('65513449221ffc78622e56dd'), ObjectId('65513449221ffc78622e56de'), ObjectId('65513449221ffc78622e56df'), ObjectId('65513449221ffc78622e56e0'), ObjectId('65513449221ffc78622e56e1'), ObjectId('65513449221ffc78622e56e2'), ObjectId('65513449221ffc78622e56e3'), ObjectId('65513449221ffc78622e56e4'), ObjectId('65513449221ffc78622e56e5'), ObjectId('65513449221ffc78622e56e6'), ObjectId('65513449221ffc78622e56e7'), ObjectId('65513449221ffc78622e56e8'), ObjectId('65513449221ffc78622e56e9'), ObjectId('65513449221ffc78622e56ea'), ObjectId('65513449221ffc78622e56eb'), ObjectId('65513449221ffc78622e56ec'), ObjectId('65513449221ffc78622e56ed'), ObjectId('65513449221ffc78622e56ee'), ObjectId('65513449221ffc78622e56ef'), ObjectId('65513449221ffc78622e56f0'), ObjectId('65513449221ffc78622e56f1'), ObjectId('65513449221ffc78622e56f2'), ObjectId('65513449221ffc78622e56f3'), ObjectId('65513449221ffc78622e56f4'), ObjectId('65513449221ffc78622e56f5'), ObjectId('65513449221ffc78622e56f6'), ObjectId('65513449221ffc78622e56f7'), ObjectId('65513449221ffc78622e56f8'), ObjectId('65513449221ffc78622e56f9'), ObjectId('65513449221ffc78622e56fa'), ObjectId('65513449221ffc78622e56fb'), ObjectId('65513449221ffc78622e56fc'), ObjectId('65513449221ffc78622e56fd'), ObjectId('65513449221ffc78622e56fe'), ObjectId('65513449221ffc78622e56ff'), ObjectId('65513449221ffc78622e5700'), ObjectId('65513449221ffc78622e5701'), ObjectId('65513449221ffc78622e5702'), ObjectId('65513449221ffc78622e5703'), ObjectId('65513449221ffc78622e5704'), ObjectId('65513449221ffc78622e5705'), ObjectId('65513449221ffc78622e5706'), ObjectId('65513449221ffc78622e5707'), ObjectId('65513449221ffc78622e5708'), ObjectId('65513449221ffc78622e5709'), ObjectId('65513449221ffc78622e570a'), ObjectId('65513449221ffc78622e570b'), ObjectId('65513449221ffc78622e570c'), ObjectId('65513449221ffc78622e570d'), ObjectId('65513449221ffc78622e570e'), ObjectId('65513449221ffc78622e570f'), ObjectId('65513449221ffc78622e5710'), ObjectId('65513449221ffc78622e5711'), ObjectId('65513449221ffc78622e5712'), ObjectId('65513449221ffc78622e5713'), ObjectId('65513449221ffc78622e5714'), ObjectId('65513449221ffc78622e5715'), ObjectId('65513449221ffc78622e5716'), ObjectId('65513449221ffc78622e5717'), ObjectId('65513449221ffc78622e5718'), ObjectId('65513449221ffc78622e5719'), ObjectId('65513449221ffc78622e571a'), ObjectId('65513449221ffc78622e571b'), ObjectId('65513449221ffc78622e571c'), ObjectId('65513449221ffc78622e571d'), ObjectId('65513449221ffc78622e571e'), ObjectId('65513449221ffc78622e571f'), ObjectId('65513449221ffc78622e5720'), ObjectId('65513449221ffc78622e5721'), ObjectId('65513449221ffc78622e5722'), ObjectId('65513449221ffc78622e5723'), ObjectId('65513449221ffc78622e5724'), ObjectId('65513449221ffc78622e5725'), ObjectId('65513449221ffc78622e5726'), ObjectId('65513449221ffc78622e5727'), ObjectId('65513449221ffc78622e5728'), ObjectId('65513449221ffc78622e5729'), ObjectId('65513449221ffc78622e572a'), ObjectId('65513449221ffc78622e572b'), ObjectId('65513449221ffc78622e572c'), ObjectId('65513449221ffc78622e572d'), ObjectId('65513449221ffc78622e572e'), ObjectId('65513449221ffc78622e572f'), ObjectId('65513449221ffc78622e5730'), ObjectId('65513449221ffc78622e5731'), ObjectId('65513449221ffc78622e5732'), ObjectId('65513449221ffc78622e5733'), ObjectId('65513449221ffc78622e5734'), ObjectId('65513449221ffc78622e5735'), ObjectId('65513449221ffc78622e5736'), ObjectId('65513449221ffc78622e5737'), ObjectId('65513449221ffc78622e5738'), ObjectId('65513449221ffc78622e5739'), ObjectId('65513449221ffc78622e573a'), ObjectId('65513449221ffc78622e573b'), ObjectId('65513449221ffc78622e573c'), ObjectId('65513449221ffc78622e573d'), ObjectId('65513449221ffc78622e573e'), ObjectId('65513449221ffc78622e573f'), ObjectId('65513449221ffc78622e5740'), ObjectId('65513449221ffc78622e5741'), ObjectId('65513449221ffc78622e5742'), ObjectId('65513449221ffc78622e5743'), ObjectId('65513449221ffc78622e5744'), ObjectId('65513449221ffc78622e5745'), ObjectId('65513449221ffc78622e5746'), ObjectId('65513449221ffc78622e5747'), ObjectId('65513449221ffc78622e5748'), ObjectId('65513449221ffc78622e5749'), ObjectId('65513449221ffc78622e574a'), ObjectId('65513449221ffc78622e574b'), ObjectId('65513449221ffc78622e574c'), ObjectId('65513449221ffc78622e574d'), ObjectId('65513449221ffc78622e574e'), ObjectId('65513449221ffc78622e574f'), ObjectId('65513449221ffc78622e5750'), ObjectId('65513449221ffc78622e5751'), ObjectId('65513449221ffc78622e5752'), ObjectId('65513449221ffc78622e5753'), ObjectId('65513449221ffc78622e5754'), ObjectId('65513449221ffc78622e5755'), ObjectId('65513449221ffc78622e5756'), ObjectId('65513449221ffc78622e5757'), ObjectId('65513449221ffc78622e5758'), ObjectId('65513449221ffc78622e5759'), ObjectId('65513449221ffc78622e575a'), ObjectId('65513449221ffc78622e575b'), ObjectId('65513449221ffc78622e575c'), ObjectId('65513449221ffc78622e575d'), ObjectId('65513449221ffc78622e575e')], acknowledged=True)

import json files into mongo collection

In [58]:
import json

In [59]:
f=open("Abhishek.json")
data = json.load(f)
db.Abhishek.insert_many(data)

InsertManyResult([ObjectId('655134fb221ffc78622e575f'), ObjectId('655134fb221ffc78622e5760'), ObjectId('655134fb221ffc78622e5761'), ObjectId('655134fb221ffc78622e5762'), ObjectId('655134fb221ffc78622e5763')], acknowledged=True)