Mysql : 
Relational DataBase
structured data in the format of table/relations
workbench/vscode
SQL Language

MongoDb : 
Non relational database,
Unstructured data in the format of json files or dictionaries,
compass/vscode,
Python Language

How to create connection?

In [1]:
import pymongo
import pandas as pd

In [2]:
client=pymongo.MongoClient("mongodb://localhost:27017")
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

Mysql : databases >> database >> table      >>   rows and    columns,

Mongodb : databases >> database >>colections >>  documents   keys

Crud Operations 

1. Create Database,
2. Create collection,
3. Insert data (add document),
4. read data,
5. update data,
6. delete data

1. Create database

In [3]:
db = client["college"]
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'college')

In [4]:
client.list_database_names()

['Ml', 'admin', 'config', 'local', 'mydb']

2. Create Collection

In [5]:
coll=db["student"]
coll

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'college'), 'student')

In [6]:
db.list_collection_names()

[]

3. Insert data

insert_one() : used to insert a single document ,

insert_many() : used to insert multiple documents

insert_one() : collection_name.insert_one({key:value})

In [7]:
coll.insert_one({"rollno":101,"stud_name":"Abhishek","gender":"m","loc":"Noida"})

InsertOneResult(ObjectId('65511c0d221ffc78622e56c2'), acknowledged=True)

In [8]:
client.list_database_names()

['Ml', 'admin', 'college', 'config', 'local', 'mydb']

In [9]:
db.list_collection_names()

['student']

In [10]:
coll.insert_one({"rollno":102,"stud_name":"Roma","gender":"f","loc":"Mumbai"})

InsertOneResult(ObjectId('65511c88221ffc78622e56c3'), acknowledged=True)

In [11]:
coll.insert_one({"rollno":103,"stud_name":"Nita","gender":"f"})

InsertOneResult(ObjectId('65511cbd221ffc78622e56c4'), acknowledged=True)

In [12]:
coll.insert_one({"rollno":104,"stud_name":"Dhiraj","gender":"m","contact":1234})

InsertOneResult(ObjectId('65511d15221ffc78622e56c5'), acknowledged=True)

In [13]:
coll.insert_one({"rollno":105,"stud_name":"Akash","gender":"m",
                 "contact":{"email":"akash@gmail.com","mobno":4321}})

InsertOneResult(ObjectId('65511da8221ffc78622e56c6'), acknowledged=True)

insert_many() : collection_name.insert_many([{},{},{}])

In [14]:
coll.insert_many([{"rollno":105,"stud_name":"veena"},
                  {"rollno":107,"stud_name":"pooja","loc":"mumbai"}])

InsertManyResult([ObjectId('65511e6f221ffc78622e56c7'), ObjectId('65511e6f221ffc78622e56c8')], acknowledged=True)

2. Read Data

find_one() : returns a single document,

find_many() : returns multiple documents

find_one() : collection_name.find_one({filter condition},{select})

without filter condition : returns the first document in the collection

with filter condition : returs the first matched document in the collection

In [15]:
coll.find_one({})

{'_id': ObjectId('65511c0d221ffc78622e56c2'),
 'rollno': 101,
 'stud_name': 'Abhishek',
 'gender': 'm',
 'loc': 'Noida'}

In [16]:
coll.find_one({},{"_id":0})

{'rollno': 101, 'stud_name': 'Abhishek', 'gender': 'm', 'loc': 'Noida'}